#trigger-overlay, #btnSig, #btnAnt, #Logo{
	-webkit-animation-delay: .7s;
	-o-animation-delay: .7s;
	animation-delay: .7s;
}
#title{
	-webkit-animation-delay: .9s;
	-o-animation-delay: .9s;
	animation-delay: .9s;
}
#txt1{
	-webkit-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
#img01{
	-webkit-animation-delay: 1.4s;
	-o-animation-delay: 1.4s;
	animation-delay: 1.4s;
}
#txt2{
	-webkit-animation-delay: 1.9s;
	-o-animation-delay: 1.9s;
	animation-delay: 1.9s;
}
/*slide_4*/
#txt3{
	-webkit-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
#img02{
	-webkit-animation-delay: 1.4s;
	-o-animation-delay: 1.4s;
	animation-delay: 1.4s;
}
#txt4, #txt5{
	-webkit-animation-delay: 1.9s;
	-o-animation-delay: 1.9s;
	animation-delay: 1.9s;
}
#txt6{
	-webkit-animation-delay: 2.4s;
	-o-animation-delay: 2.4s;
	animation-delay: 2.4s;
}
#txt7{
	-webkit-animation-delay: 2.8s;
	-o-animation-delay: 2.8s;
	animation-delay: 2.8s;
}
#img03{
	-webkit-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
#txt8{
	-webkit-animation-delay: 1.5s;
	-o-animation-delay: 1.5s;
	animation-delay: 1.5s;
}
#txt9, #img04{
	-webkit-animation-delay: 2s;
	-o-animation-delay: 2s;
	animation-delay: 2s;
}
#txt10{
	-webkit-animation-delay: 2.5s;
	-o-animation-delay: 2.5s;
	animation-delay: 2.5s;
}
#img05, #img06{
	-webkit-animation-delay: 2.9s;
	-o-animation-delay: 2.9s;
	animation-delay: 2.9s;
}
#txt11{
	-webkit-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
#img07{
-webkit-animation-delay: 1.7s;
	-o-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
#txt12{
-webkit-animation-delay: 1.9s;
	-o-animation-delay: 1.9s;
	animation-delay: 1.9s;
}
#txt13{
	-webkit-animation-delay: 2.5s;
	-o-animation-delay: 2.5s;
	animation-delay: 2.5s;
}
#txt14{
	-webkit-animation-delay: 2.9s;
	-o-animation-delay: 2.9s;
	animation-delay: 2.9s;
}
#img08{
	-webkit-animation-delay: 2.7s;
	-o-animation-delay: 2.7s;
	animation-delay: 2.7s;
}
#img09{
	-webkit-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
#txt15, #txt18{
	-webkit-animation-delay: 1.7s;
	-o-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
#txt16, #txt19{
	-webkit-animation-delay: 2s;
	-o-animation-delay: 2s;
	animation-delay: 2s;
}
#txt17, #txt20{
	-webkit-animation-delay: 2.5s;
	-o-animation-delay: 2.5s;
	animation-delay: 2.5s;
}
#txt_20, #txt21{
	-webkit-animation-delay: 1.7s;
	-o-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
#img10{
	-webkit-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	animation-delay: 1.2s;
}

#txt22, #txt23{
	-webkit-animation-delay: 2.6s;
	-o-animation-delay: 2.6s;
	animation-delay: 2.6s;
}

#img11{
	-webkit-animation-delay: 2.2s;
	-o-animation-delay: 2.2s;
	animation-delay: 2.2s;
}
#txt24{
	-webkit-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
#txt25{
	-webkit-animation-delay: 1.7s;
	-o-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
#img12{
	-webkit-animation-delay: 2s;
	-o-animation-delay: 2s;
	animation-delay: 2s;
}
#txt26, #txt27{
	-webkit-animation-delay: 2.5s;
	-o-animation-delay: 2.5s;
	animation-delay: 2.5s;
}
#txt28{
	-webkit-animation-delay: 2.9s;
	-o-animation-delay: 2.9s;
	animation-delay: 2.9s;
}
#txt30{
	-webkit-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
#img14{
	-webkit-animation-delay: 1.7s;
	-o-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
#img15{
	-webkit-animation-delay: 2.2s;
	-o-animation-delay: 2.2s;;
	animation-delay: 2.2s;
}
#img16,#txt31{
	-webkit-animation-delay: 2.7s;
	-o-animation-delay: 2.7s;
	animation-delay: 2.7s;
}
#txt32{
	-webkit-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
#txt33{
	-webkit-animation-delay: 1.7s;
	-o-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
#bullet1{
	-webkit-animation-delay: 2.5s;
	-o-animation-delay: 2.5s;
	animation-delay: 2.5s;
}
#bullet2{
	-webkit-animation-delay: 3.2s;
	-o-animation-delay: 3.2s;
	animation-delay: 3.2s;
}
#bullet3{
	-webkit-animation-delay: 3.7s;
	-o-animation-delay: 3.7s;
	animation-delay: 3.7s;
}
#bullet4{
	-webkit-animation-delay: 4.2s;
	-o-animation-delay: 4.2s;
	animation-delay: 4.2s;
}
#bullet5{
	-webkit-animation-delay: 4.7s;
	-o-animation-delay: 4.7s;
	animation-delay: 4.7s;
}
#img27,#txt34{
	-webkit-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
#txt35{
	-webkit-animation-delay: 1.7s;
	-o-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
#img28, #txt36{
	-webkit-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	animation-delay: 1.2s;
}

#img29, #txt37{
	-webkit-animation-delay: 2.5s;
	-o-animation-delay: 2.5s;
	animation-delay: 2.5s;
}

#img30{
	-webkit-animation-delay: 3.7s;
	-o-animation-delay: 3.7s;
	animation-delay: 3.7s;
}
#txt38,#txt39{
	-webkit-animation-delay: 4.2s;
	-o-animation-delay: 4.2s;
	animation-delay: 4.2s;
}
#txt140{
	-webkit-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	animation-delay: 1.2s;
}

#txt141{
	-webkit-animation-delay: 1.7s;
	-o-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
#txt142{
	-webkit-animation-delay: 2.5s;
	-o-animation-delay: 2.5s;
	animation-delay: 2.5s;
}
#img131{
	-webkit-animation-delay: 2.5s;
	-o-animation-delay: 2.5s;
	animation-delay: 2.5s;
}
#bullet6{
	-webkit-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
#bullet7{
	-webkit-animation-delay: 2.5s;
	-o-animation-delay: 2.5s;
	animation-delay: 2.5s;
}
#img132{
	-webkit-animation-delay: 1.7s;
	-o-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
#img133{
	-webkit-animation-delay: 3s;
	-o-animation-delay: 3s;
	animation-delay: 3s;
}
#txt143{
	-webkit-animation-delay: 3.7s;
	-o-animation-delay: 3.7s;
	animation-delay: 3.7s;
}
#txt201{
	-webkit-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
#txt200{
	-webkit-animation-delay: 1.7s;
	-o-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
#img200, #txt202{
	-webkit-animation-delay: 2.5s;
	-o-animation-delay: 2.5s;
	animation-delay: 2.5s;
}
#txt203{
	-webkit-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
#img201{
	-webkit-animation-delay: 1.7s;
	-o-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
#txt250{
	-webkit-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
#img210, #img211{
	-webkit-animation-delay: 1.7s;
	-o-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
#img212{
	-webkit-animation-delay: 2.5s;
	-o-animation-delay: 2.5s;
	animation-delay: 2.5s;
}
#img213, #img214{
	-webkit-animation-delay: 2.2s;
	-o-animation-delay: 2.2s;
	animation-delay: 2.2s;
}
#txt400{
	-webkit-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
#txt401{
	-webkit-animation-delay: 1.7s;
	-o-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
#img400{
	-webkit-animation-delay: 1.9s;
	-o-animation-delay: 1.9s;
	animation-delay: 1.9s;
}
#img401{
	-webkit-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
#txt402{
	-webkit-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
#img402{
	webkit-animation-delay: 1.7s;
	-o-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
#txt403{
	-webkit-animation-delay: 1.9s;
	-o-animation-delay: 1.9s;
	animation-delay: 1.9s;
}
#img403{
	-webkit-animation-delay: 2.4s;
	-o-animation-delay: 2.4s;
	animation-delay: 2.4s;
}
#txt404{
	-webkit-animation-delay: 2.6s;
	-o-animation-delay: 2.6s;
	animation-delay: 2.6s;
}
#txt405{
	-webkit-animation-delay: 3.1s;
	-o-animation-delay: 3.1s;
	animation-delay: 3.1s;
}
#img404{
	-webkit-animation-delay: 3.4s;
	-o-animation-delay: 3.4s;
	animation-delay: 3.4s;
}
#txt406{
	-webkit-animation-delay: 3.7s;
	-o-animation-delay: 3.7s;
	animation-delay: 3.7s;
}
#txt407{
	-webkit-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
#txt409,#txt408{
	webkit-animation-delay: 1.7s;
	-o-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
#txt410{
	-webkit-animation-delay: 2.4s;
	-o-animation-delay: 2.4s;
	animation-delay: 2.4s;
}
#txt411{
	-webkit-animation-delay: 2.7s;
	-o-animation-delay: 2.7s;
	animation-delay: 2.7s;
}
#txt412{
	-webkit-animation-delay: 2.8s;
	-o-animation-delay: 2.8s;
	animation-delay: 2.8s;
}
#txt413, #img405{
	-webkit-animation-delay: 3.4s;
	-o-animation-delay: 3.4s;
	animation-delay: 3.4s;
}
#img406{
	-webkit-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
#img407{
	webkit-animation-delay: 1.7s;
	-o-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
#img408{
	-webkit-animation-delay: 2.2s;
	-o-animation-delay: 2.2s;
	animation-delay: 2.2s;
}
#img409,#img410{
	-webkit-animation-delay: 2.8s;
	-o-animation-delay: 2.8s;
	animation-delay: 2.8s;
}
#img411{
	-webkit-animation-delay: 3.6s;
	-o-animation-delay: 3.6s;
	animation-delay: 3.6s;
}