#trigger-overlay, #btnSig, #btnAnt, #Logo{
	-webkit-animation-delay: .7s;
	-o-animation-delay: .7s;
	animation-delay: .7s;
}
#title{
	-webkit-animation-delay: .9s;
	-o-animation-delay: .9s;
	animation-delay: .9s;
}
#txt1{
	-webkit-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
#img01{
	-webkit-animation-delay: 1.4s;
	-o-animation-delay: 1.4s;
	animation-delay: 1.4s;
}
#txt2{
	-webkit-animation-delay: 1.9s;
	-o-animation-delay: 1.9s;
	animation-delay: 1.9s;
}
/*slide_4*/
#txt3{
	-webkit-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
#img02{
	-webkit-animation-delay: 1.4s;
	-o-animation-delay: 1.4s;
	animation-delay: 1.4s;
}
#txt4, #txt5{
	-webkit-animation-delay: 1.9s;
	-o-animation-delay: 1.9s;
	animation-delay: 1.9s;
}
#txt6{
	-webkit-animation-delay: 2.4s;
	-o-animation-delay: 2.4s;
	animation-delay: 2.4s;
}
#txt7{
	-webkit-animation-delay: 2.8s;
	-o-animation-delay: 2.8s;
	animation-delay: 2.8s;
}
#img03{
	-webkit-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
#txt8{
	-webkit-animation-delay: 1.5s;
	-o-animation-delay: 1.5s;
	animation-delay: 1.5s;
}
#txt9, #img04{
	-webkit-animation-delay: 2s;
	-o-animation-delay: 2s;
	animation-delay: 2s;
}
#txt10{
	-webkit-animation-delay: 2.5s;
	-o-animation-delay: 2.5s;
	animation-delay: 2.5s;
}
#img05, #img06{
	-webkit-animation-delay: 2.9s;
	-o-animation-delay: 2.9s;
	animation-delay: 2.9s;
}
#txt11{
	-webkit-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
#img07{
-webkit-animation-delay: 1.7s;
	-o-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
#txt12{
-webkit-animation-delay: 1.9s;
	-o-animation-delay: 1.9s;
	animation-delay: 1.9s;
}
#txt13{
	-webkit-animation-delay: 2.5s;
	-o-animation-delay: 2.5s;
	animation-delay: 2.5s;
}
#txt14{
	-webkit-animation-delay: 2.9s;
	-o-animation-delay: 2.9s;
	animation-delay: 2.9s;
}
#img08{
	-webkit-animation-delay: 2.7s;
	-o-animation-delay: 2.7s;
	animation-delay: 2.7s;
}
#img09{
	-webkit-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
#txt15, #txt18,#txt17{
	-webkit-animation-delay: 1.7s;
	-o-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
#txt16, #txt19{
	-webkit-animation-delay: 2s;
	-o-animation-delay: 2s;
	animation-delay: 2s;
}
#txt20{
	-webkit-animation-delay: 2.5s;
	-o-animation-delay: 2.5s;
	animation-delay: 2.5s;
}
#txt_20, #txt21{
	-webkit-animation-delay: 1.7s;
	-o-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
#img10{
	-webkit-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	animation-delay: 1.2s;
}

#txt22, #txt23{
	-webkit-animation-delay: 2.6s;
	-o-animation-delay: 2.6s;
	animation-delay: 2.6s;
}

#img11{
	-webkit-animation-delay: 2.2s;
	-o-animation-delay: 2.2s;
	animation-delay: 2.2s;
}
#txt24{
	-webkit-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
#txt25{
	-webkit-animation-delay: 1.7s;
	-o-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
#img12{
	-webkit-animation-delay: 2s;
	-o-animation-delay: 2s;
	animation-delay: 2s;
}
#txt26{
	-webkit-animation-delay: 2.5s;
	-o-animation-delay: 2.5s;
	animation-delay: 2.5s;
}
#txt27{
	-webkit-animation-delay: 2.9s;;
	-o-animation-delay: 2.9s;
	animation-delay: 2.9s;
}
#txt28{
	-webkit-animation-delay: 3.1s;
	-o-animation-delay: 3.1s;
	animation-delay: 3.1s;
}
#imgnuevo12{
	-webkit-animation-delay: 3.3s;
	-o-animation-delay: 3.3s;
	animation-delay: 3.3s;
}
#txtnuevo28{
	-webkit-animation-delay: 3.6s;
	-o-animation-delay: 3.6s;
	animation-delay: 3.6s;
}
#txt30{
	-webkit-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
#img14{
	-webkit-animation-delay: 1.7s;
	-o-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
#img15{
	-webkit-animation-delay: 2.2s;
	-o-animation-delay: 2.2s;;
	animation-delay: 2.2s;
}
#img16,#txt31{
	-webkit-animation-delay: 2.7s;
	-o-animation-delay: 2.7s;
	animation-delay: 2.7s;
}
#txt32{
	-webkit-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
#txt33{
	-webkit-animation-delay: 1.7s;
	-o-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
#bullet1{
	-webkit-animation-delay: 2.5s;
	-o-animation-delay: 2.5s;
	animation-delay: 2.5s;
}
#bullet2{
	-webkit-animation-delay: 3.2s;
	-o-animation-delay: 3.2s;
	animation-delay: 3.2s;
}
#bullet3{
	-webkit-animation-delay: 3.7s;
	-o-animation-delay: 3.7s;
	animation-delay: 3.7s;
}
#bullet4{
	-webkit-animation-delay: 4.2s;
	-o-animation-delay: 4.2s;
	animation-delay: 4.2s;
}
#bullet5{
	-webkit-animation-delay: 4.7s;
	-o-animation-delay: 4.7s;
	animation-delay: 4.7s;
}
#img27,#txt34{
	-webkit-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
#txt35{
	-webkit-animation-delay: 1.7s;
	-o-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
#img28, #txt36{
	-webkit-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	animation-delay: 1.2s;
}

#img29, #txt37{
	-webkit-animation-delay: 2.5s;
	-o-animation-delay: 2.5s;
	animation-delay: 2.5s;
}

#img30{
	-webkit-animation-delay: 3.7s;
	-o-animation-delay: 3.7s;
	animation-delay: 3.7s;
}
#txt38,#txt39{
	-webkit-animation-delay: 4.2s;
	-o-animation-delay: 4.2s;
	animation-delay: 4.2s;
}
#txt140{
	-webkit-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	animation-delay: 1.2s;
}

#txt141{
	-webkit-animation-delay: 1.7s;
	-o-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
#txt142{
	-webkit-animation-delay: 2.5s;
	-o-animation-delay: 2.5s;
	animation-delay: 2.5s;
}
#img131{
	-webkit-animation-delay: 2.5s;
	-o-animation-delay: 2.5s;
	animation-delay: 2.5s;
}
#bullet6{
	-webkit-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
#bullet7{
	-webkit-animation-delay: 2.5s;
	-o-animation-delay: 2.5s;
	animation-delay: 2.5s;
}
#img132{
	-webkit-animation-delay: 1.7s;
	-o-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
#img133{
	-webkit-animation-delay: 3s;
	-o-animation-delay: 3s;
	animation-delay: 3s;
}
#txt143{
	-webkit-animation-delay: 3.7s;
	-o-animation-delay: 3.7s;
	animation-delay: 3.7s;
}
#txt201{
	-webkit-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
#txt200{
	-webkit-animation-delay: 1.7s;
	-o-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
#img200, #txt202{
	-webkit-animation-delay: 2.5s;
	-o-animation-delay: 2.5s;
	animation-delay: 2.5s;
}
/*slide19*/

#txt203{
	-webkit-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
#img201, #imgnuevo202{
	-webkit-animation-delay: 1.7s;
	-o-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
#imgnuevo203, #imgnuevo204{
	-webkit-animation-delay: 2.5s;
	-o-animation-delay: 2.5s;
	animation-delay: 2.5s;
}
#imgnuevo201{
	-webkit-animation-delay: 2.9s;
	-o-animation-delay: 2.9s;
	animation-delay: 2.9s;
}
#imgnuevo205{
	-webkit-animation-delay: 3.5s;
	-o-animation-delay: 3.5s;
	animation-delay: 3.5s;
}
#img211{
	-webkit-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
#img210{
	-webkit-animation-delay: 1.7s;
	-o-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
 #txt250{
 	-webkit-animation-delay: 2.2s;
	-o-animation-delay: 2.2s;
	animation-delay: 2.2s;
 }
#img212{
	-webkit-animation-delay: 2.5s;
	-o-animation-delay: 2.5s;
	animation-delay: 2.5s;
}
#img213, #img214{
	-webkit-animation-delay: 2.2s;
	-o-animation-delay: 2.2s;
	animation-delay: 2.2s;
}

#txt401, #txt400{
	-webkit-animation-delay: 2.5s;
	-o-animation-delay: 2.5s;
	animation-delay: 2.5s;
}
#img400{
	-webkit-animation-delay: 1.7s;
	-o-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
#imgnew400,#imgnewnew400{
	-webkit-animation-delay: 2.2s;
	-o-animation-delay: 2.2s;
	animation-delay: 2.2s;
}




#imgnewnew401{
	-webkit-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
#imgnewnewnew401, #imgnewnewnewnewnew401{
	webkit-animation-delay: 1.7s;
	-o-animation-delay: 1.7s;
	animation-delay: 1.7s;
	}
#imgnewnewnewnew401, #imgnewnewnewnewnewnew401{
	-webkit-animation-delay: 2.4s;
	-o-animation-delay: 2.4s;
	animation-delay: 2.4s;
}
#img401{
	-webkit-animation-delay: 2.8s;
	-o-animation-delay: 2.8s;
	animation-delay: 2.8s;
}
 #imgnewnewnewnewnewnewnew401{
	-webkit-animation-delay: 3.3s;
	-o-animation-delay: 3.3s;
	animation-delay: 3.3s;
}



#img402{
	-webkit-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
#txt402{
	webkit-animation-delay: 1.7s;
	-o-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
#txt403{
	-webkit-animation-delay: 1.9s;
	-o-animation-delay: 1.9s;
	animation-delay: 1.9s;
}
#img403{
	-webkit-animation-delay: 2.4s;
	-o-animation-delay: 2.4s;
	animation-delay: 2.4s;
}
#txt404{
	-webkit-animation-delay: 2.6s;
	-o-animation-delay: 2.6s;
	animation-delay: 2.6s;
}
#txt40{
	-webkit-animation-delay: 1.4s;
	-o-animation-delay: 1.4s;
	animation-delay: 1.4s;
}
#img31{
	-webkit-animation-delay: 1.9s;
	-o-animation-delay: 1.9s;
	animation-delay: 1.9s;
}
#txt405{
	-webkit-animation-delay: 3.1s;
	-o-animation-delay: 3.1s;
	animation-delay: 3.1s;
}
#img404{
	-webkit-animation-delay: 3.4s;
	-o-animation-delay: 3.4s;
	animation-delay: 3.4s;
}
#txt406{
	-webkit-animation-delay: 3.7s;
	-o-animation-delay: 3.7s;
	animation-delay: 3.7s;
}
#txt407{
	-webkit-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
#txt409,#txt408{
	webkit-animation-delay: 1.7s;
	-o-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
#txt410, #img405{
	-webkit-animation-delay: 2.4s;
	-o-animation-delay: 2.4s;
	animation-delay: 2.4s;
}
#txt411{
	-webkit-animation-delay: 2.7s;
	-o-animation-delay: 2.7s;
	animation-delay: 2.7s;
}
#txt412{
	-webkit-animation-delay: 2.8s;
	-o-animation-delay: 2.8s;
	animation-delay: 2.8s;
}
#txt413{
	-webkit-animation-delay: 3.4s;
	-o-animation-delay: 3.4s;
	animation-delay: 3.4s;
}
#img407{
	-webkit-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	animation-delay: 1.2s;
}

#img408, #img409{
	-webkit-animation-delay: 2.2s;
	-o-animation-delay: 2.2s;
	animation-delay: 2.2s;
}
#img410, #img406{
	-webkit-animation-delay: 2.8s;
	-o-animation-delay: 2.8s;
	animation-delay: 2.8s;
}
#imgnew410{
	-webkit-animation-delay: 3.3s;
	-o-animation-delay: 3.3s;
	animation-delay: 3.3s;
}
#img411{
	-webkit-animation-delay: 3.6s;
	-o-animation-delay: 3.6s;
	animation-delay: 3.6s;

}
#txt414{
	-webkit-animation-delay: 1.7s;
	-o-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
#txt415{
	webkit-animation-delay: 2.2s;
	-o-animation-delay: 2.2s;
	animation-delay: 2.2s;
}
#txtnew415, #txtnewnew415{
	webkit-animation-delay: 2.7s;
	-o-animation-delay: 2.7s;
	animation-delay: 2.7s;
}
#txtnewnewnew415, #txtnewnewnewnew415{
	webkit-animation-delay: 3.2s;
	-o-animation-delay: 3.2s;
	animation-delay: 3.2s;
}



#img412{
	-webkit-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
#img413{
	-webkit-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
#img414{
	webkit-animation-delay: 1.7s;
	-o-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
#img415,#img416{
	-webkit-animation-delay: 2.2s;
	-o-animation-delay: 2.2s;
	animation-delay: 2.2s;
}
#img417{
	-webkit-animation-delay: 2.8s;
	-o-animation-delay: 2.8s;
	animation-delay: 2.8s;
}
#img418{
	-webkit-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
#img419{
	webkit-animation-delay: 2.1s;
	-o-animation-delay: 2.1s;
	animation-delay: 2.1s;
}
#img420{
	webkit-animation-delay: 1.7s;
	-o-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
#img421,#img423{
	-webkit-animation-delay: 2.5s;
	-o-animation-delay: 2.5s;
	animation-delay: 2.5s;
}
#img422,#img424{
	-webkit-animation-delay: 3s;
	-o-animation-delay: 3s;
	animation-delay: 3s;
}
#imgnew420{
	-webkit-animation-delay: 3.5s;
	-o-animation-delay: 3.5s;
	animation-delay: 3.5s;
}
#imgnew424, #imgnewnew424{
	-webkit-animation-delay: 4s;
	-o-animation-delay: 4s;
	animation-delay: 4s;
}
#txt416, #imgnewlogo424{
	-webkit-animation-delay: 1.9s;
	-o-animation-delay: 1.9s;
	animation-delay: 1.9s;
}
#img425{
	webkit-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	animation-delay: 1.2s;
	}
#img427{
	-webkit-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	animation-delay: 1.2s;
	}
#img428{
	webkit-animation-delay: 1.7s;
	-o-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
#img426{
	-webkit-animation-delay: 2.5s;
	-o-animation-delay: 2.5s;
	animation-delay: 2.5s;
}
#img431{
	-webkit-animation-delay: 2.8s;
	-o-animation-delay: 2.8s;
	animation-delay: 2.8s;
}
#img432{
	-webkit-animation-delay: 3.3s;
	-o-animation-delay: 3.3s;
	animation-delay: 3.3s;
}
#img520{
	-webkit-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
#img521, #img523{
	webkit-animation-delay: 1.9s;
	-o-animation-delay: 1.9s;
	animation-delay: 1.9s;
}
#img522, #img524{
	webkit-animation-delay: 2.2s;
	-o-animation-delay: 2.2s;
	animation-delay: 2.2s;
}
#img527{
	-webkit-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
#img526{
	webkit-animation-delay: 1.7s;
	-o-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
#img528{
	webkit-animation-delay: 2.2s;
	-o-animation-delay: 2.2s;
	animation-delay: 2.2s;
}
#img525,#img530{
	webkit-animation-delay: 2.7s;
	-o-animation-delay: 2.7s;
	animation-delay: 2.7s;
}
#img529{
	webkit-animation-delay: 3.2s;
	-o-animation-delay: 3.2s;
	animation-delay: 3.2s;
}
/*slide 33*/
#img533{
	-webkit-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
#img531{
	webkit-animation-delay: 1.7s;
	-o-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
#img532{
	webkit-animation-delay: 1.7s;
	-o-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
#img534{
	webkit-animation-delay: 2.2s;
	-o-animation-delay: 2.2s;
	animation-delay: 2.2s;
}
#img535{
	webkit-animation-delay: 2.7s;
	-o-animation-delay: 2.7s;
	animation-delay: 2.7s;
}
#img538{
	-webkit-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
#img536{
	webkit-animation-delay: 1.7s;
	-o-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
#img537{
	webkit-animation-delay: 2.2s;
	-o-animation-delay: 2.2s;
	animation-delay: 2.2s;
}

/*slide 35*/
#img539{
	-webkit-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
#img541{
	webkit-animation-delay: 1.7s;
	-o-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
#img540{
	webkit-animation-delay: 2.2s;
	-o-animation-delay: 2.2s;
	animation-delay: 2.2s;
}
#img542{
	webkit-animation-delay: 2.7s;
	-o-animation-delay: 2.7s;
	animation-delay: 2.7s;
}

#img544{
	-webkit-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
#img545{
	webkit-animation-delay: 1.7s;
	-o-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
#img543{
	webkit-animation-delay: 1.5s;
	-o-animation-delay: 1.5s;
	animation-delay: 1.5s;
}
#img552{
	-webkit-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
#img546{
	webkit-animation-delay: 1.7s;
	-o-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
#img547{
	webkit-animation-delay: 2.2s;
	-o-animation-delay: 2.2s;
	animation-delay: 2.2s;
}
#img548{
	webkit-animation-delay: 2.7s;
	-o-animation-delay: 2.7s;
	animation-delay: 2.7s;
}
#img549, #img551{
	webkit-animation-delay: 3.2s;
	-o-animation-delay: 3.2s;
	animation-delay: 3.2s;
}
#img553, #img550{
	webkit-animation-delay: 3.7s;
	-o-animation-delay: 3.7s;
	animation-delay: 3.7s;
}
#img559, #img561, #img565, #img573{
	-webkit-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
#img558, #img563,#img564, #img566, #img567{
	webkit-animation-delay: 1.7s;
	-o-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
#img554, #img560, #img562, #img571{
	webkit-animation-delay: 2.2s;
	-o-animation-delay: 2.2s;
	animation-delay: 2.2s;
}
#img555, #img569{
	webkit-animation-delay: 2.7s;
	-o-animation-delay: 2.7s;
	animation-delay: 2.7s;
}
#img557, #img556,#img568 {
	webkit-animation-delay: 2.5s;
	-o-animation-delay: 2.5s;
	animation-delay: 2.5s;
}
#img570{
	webkit-animation-delay: 3.2s;
	-o-animation-delay: 3.2s;
	animation-delay: 3.2s;
}
#img572, #img574, #img575{
	webkit-animation-delay: 3.7s;
	-o-animation-delay: 3.7s;
	animation-delay: 3.7s;
}