body{
	margin:0;
	padding:0;
}
#contenedor {
	background: url(../slide1/background.png) no-repeat left top #fff;;
	display: block;
	height: 768px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	width: 1024px;
}

#contenedor1 {
	background-color:#fff;;
	display: block;
	height: 768px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	width: 1024px;
}
#contenedor2 {
	background: url(../slide2/background.png) no-repeat left top #fff;;
	display: block;
	height: 768px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	width: 1024px;
}
#bg{
	position: absolute;
	bottom: 0;
	right: 0;
}

#btnSig{
	height: 27px;
	right:31px;
	position: absolute;
	top:37px;
	width: 27px;
}
#btnAnt{
	height: 27px;
	right: 100px;
	position: absolute;
	top:37px;
	width: 27px;
}
#trigger-overlay {
	height: 49px;
	left: 37px;
	position: absolute;
	top: 37px;
	width: 49px;
	background: url(../general/menu.png) no-repeat center center;
	overflow: hidden;
	border: none;
}
#Logo{
	position: absolute;
	right: 32px;
	bottom: 15px;
}
#title{
	position: absolute;
	top:113px;
}
#txt1{
	position: absolute;
	top:175px;
	left: 110px;
}
#img01{
	position: absolute;
	right: 72px;
	top:218px;
}
#txt2{
	position: absolute;
	right: 444px;
	top:322px;
}
#txt3{
	position: absolute;
	top:185px;
	left:92px;
}
#img02{
	position: absolute;
	top:282px;
	left:314px;
}
#txt4{
	position: absolute;
	left: 100px;
	top:308px;
}
#txt5{
	position: absolute;
	top:308px;
	right: 100px;
}
#txt6{
	position: absolute;
	bottom: 215px;
	left: 220px;
}
#txt7{
	position: absolute;
    bottom: 32px;
    left: 92px;
}
#bg1{
	position: absolute;
	right: 0;
	bottom: 0;

}
#bg2{
	position: absolute;
	left: 0;
	bottom: 0;
}
#img03{
	position: absolute;
	left: 19px;
	top:171px;
}
#txt8{
	position: absolute;
	right: 25px;
	top:281px;
}
#img04{
	position: absolute;
	right: 18px;
	top:380px;
}
#txt9{
	position: absolute;
	left:33px;
	top:420px;
}
#txt10{
	position: absolute;
	bottom: 48px;
	left: 247px;
}
#img06{
	position: absolute;
	right: 145px;
	bottom: 21px;
}
#img05{
	position: absolute;
	bottom: 8px;
	left: 158px;
}
#bg4{
	position: absolute;
	top:0;
	left: 0;
}
#txt11{
	position: absolute;
	right: 48px;
	top:177px;
}
#txt12{
	position: absolute;
	top:415px;
	right: 33px;
}
#img07{
	position: absolute;
	top:298px;
	left:32px;
}
#txt13{
	position: absolute;
	right: 15px;
	bottom: 136px;
}
#txt14{
	position: absolute;
	left:100px;
	bottom: 60px;
}
#img08{
	position: absolute;
	right: 100px;
	bottom: 10px;
}
#bg5{
	position: absolute;
	right: 0;
	bottom: 0;
}
#img09{
	position: absolute;
	left: 241px;
	top:227px;
}
#txt16{
	position: absolute;
	left: 200px;
	bottom: 350px;
}
#txt19{
	position: absolute;
	right: 90px;
	bottom: 332px;
}
#txt20{
	position: absolute;
	right: 125px;
	bottom: 228px;
}
#txt18{
	position: absolute;
	right: 13px;
	top:263px;
}
#txt15{
	position: absolute;
	left: 45px;
	top:212px;
}
#txt17{
	position: absolute;
	left: 100px;
	bottom: 230px;
}
#txt_20{
	position: absolute;
	left: 52px;
	top:205px;
}
#txt21{
	position: absolute;
	right: 52px;
	top: 205px;
}
#img10{
	position: absolute;
	left: 460px;
	top:255px;
}
#img11{
	position: absolute;
	left:245px;
	bottom: 0px;
}
#txt23{
	position: absolute;
	right: 59px;
	bottom: 147px;
}
#txt22{
	position: absolute;
	bottom: 127px;
}
#bg7{
	position: absolute;
	bottom: 0;
	right: 0;
	
}
#txt24{
	position: absolute;
	top:175px;
	left: 147px;
}
#txt25{
	position: absolute;
	bottom: 341px;
	left: 61px;
}
#img12{
	position: absolute;
	left: 420px;
	bottom: 160px;
}
#txt26{
	position: absolute;
	bottom: 160px;
	left: 16px;

}
#txt27{
	position: absolute;
	bottom: 185px;
	right: 64px;
}
#txt28{
	position: absolute;
	bottom: 55px;
	left: 255px;
}

/*slide_10*/
#bg8{
	position: absolute;
	left: 0;
	bottom: 0;
}
#txt30{
	position: absolute;
    left: 28px;
    top: 180px;
}
#img14{
	position: absolute;
    top: 282px;
    left: 268px;
}
#img15{
	position: absolute;
    top: 282px;
    right: 34px;
}
#img16{
	position: absolute;
    bottom: 45px;
    right: 26px;
}
#txt31{
	position: absolute;
    left: 0px;
    bottom: 82px;
}
/*slide_11*/
#bg9{
	position: absolute;
	top:0;
	right:0;
}
#txt32{
	position: absolute;
    top: 175px;
    left: 144px;
}
#txt33{
	position: absolute;
    left: 45px;
    top: 300px;
}
#bullet2{
	  position: absolute;
    right: 3px;
    bottom: 291px;
}
#bullet1{
	position: absolute;
    left: 29px;
    bottom: 286px;
}
#bullet3{
	  position: absolute;
    left: 29px;
    bottom: 139px;
}
#bullet4{
	position: absolute;
    bottom: 139px;
    right: 13px;
}
#bullet5{
	position: absolute;
    bottom: 16px;
    left: 88px;
}
#bg10{
	position: absolute;
	right: 0;
	bottom: 0;
}
#img27{
	position: absolute;
    right: 28px;
    bottom: 81px;
}
#txt34{
	position: absolute;
    left: 54px;
    bottom: 205px;
}
#txt35{
	position: absolute;
    left: 76px;
    bottom: 43px;
}

/*slide 14*/
#bg11{
	position: absolute;
	left: 0;
	bottom: 0;

}
#img28{
	position: absolute;
    left: 38px;
    top: 198px;
}
#txt36{
	position: absolute;
    left: 159px;
    top: 226px;
}
#img29{
	position: absolute;
    right: 87px;
    top: 280px;
}
#txt37{
	position: absolute;
    left: 182px;
    bottom: 212px;
}
#img30{
	position: absolute;
    bottom: 50px;
    left: 427px;
}
#txt39{
	position: absolute;
    right: 91px;
    bottom: 43px;
}
#txt38{
	position: absolute;
    left: 33px;
    bottom: 43px;
}
/*slide 15*/
#bg12{
	position: absolute;
	right: 0;
	bottom: 0;
}

#txt40{
	position: absolute;
    top: 207px;
    left: 34px;
}
#img31{
	position: absolute;
    left: 192px;
    bottom: 23px;
}
#bg12{
	position: absolute;
	left: 0;
	bottom: 0;
}
#txt140{
	position: absolute;
    top: 179px;
    left: 22px;
}
#txt141{
	position: absolute;
    left: 31px;
    top: 298px;
}
#txt142{
	position: absolute;
    left: 31px;
    top: 509px;
}
#img131{
	position: absolute;
    right: 37px;
    bottom: 149px;
}
#bg13{
	position: absolute;
	right: 0;
	bottom: 0;
}
#bullet6{
	position: absolute;
    left: 30px;
    top: 200px;
}
#bullet7{
	position: absolute;
    left: 30px;
    top: 359px;
}
#img132{
	position: absolute;
    right: 100px;
    top: 173px;
}
#img133{
	position: absolute;
    right: 90px;
    bottom: 231px;
}
#txt143{
	position: absolute;
    bottom: 83px;
    left: 17px;
}
#big14{
	position: absolute;
	left: 0;
	top:0;

}
/*slide 18*/
#txt201{
    position: absolute;
    left: 43px;
    top: 234px;

}
#txt200{
	position: absolute;
    left: 200px;
    top: 359px;
}
#txt202{
	position: absolute;
    bottom: 125px;
    left: 100px;
}
#img200{
	position: absolute;
    right: 42px;
    bottom: 82px;
}
#txt203{
	position: absolute;
    bottom: 200px;
    left: 50px;
}
#img201{
	position: absolute;
    right: -4px;
    top:211px;
}
#bg15{
	position: absolute;
	bottom: 0;
	right: 0;
}
#txt250{
	position: absolute;
    top: 164px;
    left: 60px;
}
#img211{
	position: absolute;
    right: 36px;
    top: 319px;
}
#img210{
	position: absolute;
    left: 36px;
    top: 319px;
}
#img212{
	position: absolute;
    bottom: 45px;
    left: 369px;
}
#img213{
	position: absolute;
    bottom: 98px;
    left: 217px;
}
#img214{
	position: absolute;
    bottom: 107px;
    right: 217px;
}
#bg20{
	position: absolute;
	bottom:0;
	left: 0;
}
#txt400{
	position: absolute;
    top: 200px;
    left: 91px;
}
#txt401{
	position: absolute;
    left: 50px;
    bottom: 89px;
}
#img400{
	position: absolute;
	right: 50px;
	bottom: 89px;
}
#img401{
	position: absolute;
    left: 65px;
    top: 165px;
}
#bg21{
	position: absolute;
	bottom: 0;
	right: 0;
}
#bg22{
	position: absolute;
	top:0;
	left: 0;
}
#txt402{
	position: absolute;
    top: 185px;
    left: 182px;
}
#txt403{
	position: absolute;
    left: 182px;
    top: 311px;
}
#txt404{
	position: absolute;
    left: 182px;
    top: 448px;
}
#img404{
	position: absolute;
    right: 54px;
    bottom: 108px
}
#img402{
	position: absolute;
    left: 22px;
    bottom: 370px;
}
#img403{
	position: absolute;
	left: 22px;
	bottom: 218px;
}
#txt405{
	position: absolute;
    left: 26px;
    bottom: 106px;
}
#txt406{
	position: absolute;
    left: 209px;
    bottom: 0px;
}
#bg6{
	position: absolute;
	top: 0;
	left: 0;
}
#txt407{
	position: absolute;
    left: 90px;
    top: 200px;
}
#txt408{
	position: absolute;
    right: 14px;
    top: 260px;
}
#txt409{
	position: absolute;
    top: 280px;
    left: 67px;
}
#txt410{
	position: absolute;
    left: 60px;
    bottom: 217px;
}
#txt412{
	position: absolute;
    bottom: 194px;
    right: 178px;
}
#txt413{
	position: absolute;
    bottom: 51px;
    right: 108px;
}
#txt411{
	position: absolute;
    bottom: 12px;
    left: 88px;
}
#img405{
	position: absolute;
    right: 17px;
    bottom: 242px;
}


















































































