body{
	margin:0;
	padding:0;
}
#contenedor {
	background: url(../slide1/background.png) no-repeat left top #fff;;
	display: block;
	height: 768px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	width: 1024px;
}

#contenedor1 {
	background-color:#fff;;
	display: block;
	height: 768px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	width: 1024px;
}
#contenedor2 {
	background: url(../slide2/background.png) no-repeat left top #fff;;
	display: block;
	height: 768px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	width: 1024px;
}
#bg{
	position: absolute;
	bottom: 0;
	right: 0;
}
#btnSig{
	height: 27px;
	right:31px;
	position: absolute;
	top:37px;
	width: 27px;
}
#btnAnt{
	height: 27px;
	right: 100px;
	position: absolute;
	top:37px;
	width: 27px;
}
#trigger-overlay {
	height: 49px;
	left: 37px;
	position: absolute;
	top: 37px;
	width: 49px;
	background: url(../general/menu.png) no-repeat center center;
	overflow: hidden;
	border: none;
}
#Logo{
	position: absolute;
	right: 32px;
	bottom: 15px;
}
#title{
	position: absolute;
	top:113px;
}
#txt1{
	position: absolute;
	top:175px;
	left: 110px;
}
#img01{
	position: absolute;
	right: 72px;
	top:218px;
}
#txt2{
	position: absolute;
	right: 444px;
	top:322px;
}
#txt3{
	position: absolute;
	top:185px;
	left:92px;
}
#img02{
	position: absolute;
	top:282px;
	left:314px;
}
#txt4{
	position: absolute;
	left: 100px;
	top:308px;
}
#txt5{
	position: absolute;
	top:308px;
	right: 100px;
}
#txt6{
	position: absolute;
	bottom: 215px;
	left: 220px;
}
#txt7{
	position: absolute;
    bottom: 32px;
    left: 92px;
}
#bg1{
	position: absolute;
	right: 0;
	bottom: 0;

}
#bg2{
	position: absolute;
	left: 0;
	bottom: 0;
}
#img03{
	position: absolute;
	left: 19px;
	top:171px;
}
#txt8{
	position: absolute;
	right: 25px;
	top:281px;
}
#img04{
	position: absolute;
	right: 18px;
	top:380px;
}
#txt9{
	position: absolute;
	left:33px;
	top:420px;
}
#txt10{
	position: absolute;
	bottom: 48px;
	left: 247px;
}
#img06{
	position: absolute;
	right: 145px;
	bottom: 21px;
}
#img05{
	position: absolute;
	bottom: 8px;
	left: 158px;
}
#bg4{
	position: absolute;
	top:0;
	left: 0;
}
#txt11{
	position: absolute;
	right: 48px;
	top:177px;
}
#txt12{
	position: absolute;
	top:415px;
	right: 33px;
}
#img07{
	position: absolute;
	top:298px;
	left:32px;
}
#txt13{
	position: absolute;
	right: 15px;
	bottom: 136px;
}
#txt14{
	position: absolute;
	left:100px;
	bottom: 60px;
}
#img08{
	position: absolute;
	right: 100px;
	bottom: 10px;
}
























































































































