body{
	margin:0;
	padding:0;
}
#contenedor {
	background: url(../slide1/background.png) no-repeat left top #fff;;
	display: block;
	height: 768px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	width: 1024px;
}

#contenedor1 {
	background: url(../portada/fondo.jpg) no-repeat left top #fff;
	display: block;
	height: 768px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	width: 1024px;
}
#contenedor2 {
	background: url(../slide2/background.png) no-repeat left top #fff;;
	display: block;
	height: 768px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	width: 1024px;
}
#contenedor3 {
	background-color: #fff;
	display: block;
	height: 768px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	width: 1024px;
}
#bg{
	position: absolute;
	bottom: 0;
	right: 0;
}

#btnSig{
	height: 27px;
	right:31px;
	position: absolute;
	top:37px;
	width: 27px;
}
#btnAnt{
	height: 27px;
	right: 100px;
	position: absolute;
	top:37px;
	width: 27px;
}
#trigger-overlay {
	height: 49px;
	left: 37px;
	position: absolute;
	top: 37px;
	width: 49px;
	background: url(../general/menu.png) no-repeat center center;
	overflow: hidden;
	border: none;
}
#Logo{
	position: absolute;
	right: 32px;
	bottom: 15px;
}
#title{
	position: absolute;
	top:113px;
}
#txt1{
	position: absolute;
	top:311px;
	left: 378px;
}
#img01{
	position: absolute;
	right: 72px;
	top:218px;
}
#txt2{
	position: absolute;
	right: 444px;
	top:322px;
}
#txt3{
	position: absolute;
	top:185px;
	left:92px;
}
#img02{
	position: absolute;
	top:282px;
	left:314px;
}
#txt4{
	position: absolute;
	left: 100px;
	top:308px;
}
#txt5{
	position: absolute;
	top:308px;
	right: 100px;
}
#txt6{
	position: absolute;
	bottom: 215px;
	left: 220px;
}
#txt7{
	position: absolute;
    bottom: 32px;
    left: 92px;
}
#bg1{
	position: absolute;
	right: 0;
	bottom: 0;

}
#bg2{
	position: absolute;
	left: 0;
	bottom: 0;
}
#img03{
	position: absolute;
	left: 19px;
	top:171px;
}
#txt8{
	position: absolute;
	right: 25px;
	top:281px;
}
#img04{
	position: absolute;
	right: 73px;
	top:480px;
}
#txt9{
	position: absolute;
	left:33px;
	top:490px;
}
#txt10{
	position: absolute;
	bottom: 48px;
	left: 247px;
}
#img06{
	position: absolute;
	right: 145px;
	bottom: 21px;
}
#img05{
	position: absolute;
	bottom: 8px;
	left: 158px;
}
#bg4{
	position: absolute;
	top:0;
	left: 0;
}
#txt11{
	position: absolute;
	right: 48px;
	top:177px;
}
#txt12{
	position: absolute;
	top:415px;
	right: 33px;
}
#img07{
	position: absolute;
	top:298px;
	left:32px;
}
#txt13{
	position: absolute;
	right: 15px;
	bottom: 136px;
}
#txt14{
	position: absolute;
	left:100px;
	bottom: 60px;
}
#img08{
	position: absolute;
	right: 100px;
	bottom: 10px;
}
#bg5{
	position: absolute;
	right: 0;
	bottom: 0;
}
#img09{
	position: absolute;
	left: 241px;
	top:277px;
}
#txt16{
	position: absolute;
	left: 112px;
	bottom: 280px;
}
#txt19{
	position: absolute;
	right: 90px;
	bottom: 332px;
}
#txt20{
	position: absolute;
	right: 125px;
	bottom: 228px;
}
#txt18{
	position: absolute;
	right: 104px;
	top:435px;
}
#txt15{
	position: absolute;
	left: 45px;
	top:225px;
}
#txt17{
	position: absolute;
	right: 48px;
	bottom: 361px;
}
#txt_20{
	position: absolute;
	left: 52px;
	top:205px;
}
#txt21{
	position: absolute;
	right: 52px;
	top: 205px;
}
#img10{
	position: absolute;
	left: 460px;
	top:255px;
}
#img11{
	position: absolute;
	left:245px;
	bottom: 0px;
}
#txt23{
	position: absolute;
	right: 59px;
	bottom: 147px;
}
#txt22{
	position: absolute;
	bottom: 127px;
}
#bg7{
	position: absolute;
	bottom: 0;
	right: 0;
	
}
#txt24{
	position: absolute;
	top:182px;
	left: 224px;
}
#txt25{
	position: absolute;
	top: 182px; 
	left: 428px;
}
#img12{
	position: absolute;
	left: 68px;
	top: 160px;
}
#imgnuevo12{
	position: absolute;
    right: 44px;
    bottom: 64px;
}
#txt26{
	position: absolute;
	top: 182px;
	right: 16px;

}
#txt27{
	position: absolute;
	bottom: 195px;
	left: 33px;
}
#txt28{
	position: absolute;
	bottom: 227px;
	right: 76px;
}
#txtnuevo28{
	position: absolute;
	bottom: 25px;
	right: 220px;
}
/*slide_10*/
#bg8{
	position: absolute;
	left: 0;
	bottom: 0;
}
#txt30{
	position: absolute;
    left: 28px;
    top: 180px;
}
#img14{
	position: absolute;
    top: 282px;
    left: 268px;
}
#img15{
	position: absolute;
    top: 282px;
    right: 34px;
}
#img16{
	position: absolute;
    bottom: 45px;
    right: 26px;
}
#txt31{
	position: absolute;
    left: 0px;
    bottom: 82px;
}
/*slide_11*/
#bg9{
	position: absolute;
	top:0;
	right:0;
}
#txt32{
	position: absolute;
    top: 175px;
    left: 144px;
}
#txt33{
	position: absolute;
    left: 45px;
    top: 300px;
}
#bullet2{
	  position: absolute;
    right: 3px;
    bottom: 291px;
}
#bullet1{
	position: absolute;
    left: 29px;
    bottom: 286px;
}
#bullet3{
	  position: absolute;
    left: 29px;
    bottom: 139px;
}
#bullet4{
	position: absolute;
    bottom: 139px;
    right: 13px;
}
#bullet5{
	position: absolute;
    bottom: 16px;
    left: 88px;
}
#bg10{
	position: absolute;
	right: 0;
	bottom: 0;
}
#img27{
	position: absolute;
    right: 28px;
    bottom: 81px;
}
#txt34{
	position: absolute;
    left: 54px;
    bottom: 205px;
}
#txt35{
	position: absolute;
    left: 76px;
    bottom: 43px;
}

/*slide 14*/
#bg11{
	position: absolute;
	left: 0;
	bottom: 0;

}
#img28{
	position: absolute;
    left: 38px;
    top: 198px;
}
#txt36{
	position: absolute;
    left: 159px;
    top: 226px;
}
#img29{
	position: absolute;
    right: 87px;
    top: 280px;
}
#txt37{
	position: absolute;
    left: 182px;
    bottom: 212px;
}
#img30{
	position: absolute;
    bottom: 50px;
    left: 427px;
}
#txt39{
	position: absolute;
    right: 91px;
    bottom: 43px;
}
#txt38{
	position: absolute;
    left: 33px;
    bottom: 43px;
}
/*slide 15*/
#bg12{
	position: absolute;
	right: 0;
	bottom: 0;
}

#txt40{
	position: absolute;
    top: 207px;
    left: 34px;
}
#img31{
	position: absolute;
    left: 192px;
    bottom: 23px;
}
#bg12{
	position: absolute;
	right: 0;
	bottom: 0;
}
#txt140{
	position: absolute;
    top: 179px;
    left: 22px;
}
#txt141{
	position: absolute;
    left: 31px;
    top: 298px;
}
#txt142{
	position: absolute;
    left: 31px;
    top: 509px;
}
#img131{
	position: absolute;
    right: 37px;
    bottom: 149px;
}
#bg13{
	position: absolute;
	right: 0;
	bottom: 0;
}
#bullet6{
	position: absolute;
    left: 30px;
    top: 200px;
}
#bullet7{
	position: absolute;
    left: 30px;
    top: 359px;
}
#img132{
	position: absolute;
    right: 100px;
    top: 173px;
}
#img133{
	position: absolute;
    right: 90px;
    bottom: 231px;
}
#txt143{
	position: absolute;
    bottom: 83px;
    left: 17px;
}
#big14{
	position: absolute;
	left: 0;
	top:0;

}
/*slide 18*/
#txt201{
    position: absolute;
    left: 43px;
    top: 234px;

}
#txt200{
	position: absolute;
    left: 200px;
    top: 359px;
}
#txt202{
	position: absolute;
    bottom: 125px;
    left: 100px;
}
#img200{
	position: absolute;
    right: 42px;
    bottom: 82px;
}
#txt203{
	position: absolute;
    top: 183px;
    left: 50px;
}
#img201{
	position: absolute;
    left: 52px;
    top: 350px;
}
#imgnuevo203{
	position: absolute;
    left: 283px;
    top: 420px;
}
#imgnuevo204{
	position: absolute;
    left: 640px;
    top: 420px;
}
#imgnuevo201{
	position: absolute;
    left: 414px;
    top: 350px;
}
#imgnuevo202{
	position: absolute;
    right: 38px;
    top: 350px;
}
#imgnuevo205{
	position: absolute;
    bottom: 25px;
    left: 100px;
}
#bgnuevo12{
	position: absolute;
	bottom: 0;
	right: 0;
}

#bg15{
	position: absolute;
	bottom: 0;
	right: 0;
}
#txt250{
	position: absolute;
    top: 412px;
    left: 36px;
}
#img211{
	position: absolute;
    left: 36px;
    bottom: 27px;
}
#img210{
	position: absolute;
    left: 36px;
    top: 156px;
}
#img212{
	position: absolute;
    bottom: 45px;
    left: 369px;
}
#img213{
	position: absolute;
    bottom: 98px;
    left: 217px;
}
#img214{
	position: absolute;
    bottom: 107px;
    right: 217px;
}
#bg20{
	position: absolute;
	bottom:0;
	left: 0;
}
#txt400{
	position: absolute;
    top: 237px;
    left: 624px;
}
#txt401{
	position: absolute;
    left: 530px;
    bottom: 141px;
}
#img400{
	position: absolute;
	left:50px;
	bottom: 43px;
}
#imgnew400{
	position: absolute;
	left: 465px;
	top:202px;
}
#imgnewnew400{
	position: absolute;
	right: 525px;
	bottom: 150px;
}
#imgnewnewnew401{
	position: absolute;
    left: 42px;
    top: 265px;
   }
#imgnewnewnewnewnew401{
	position: absolute;
    right: 33px;
    top: 245px;
}
#imgnewnewnewnew401{
	position: absolute;
    left: 36px;
    bottom: 214px;
}
#imgnewnewnewnewnewnew401{
	position: absolute;
    right: 174px;
    bottom: 41px;
}
#imgnewnewnewnewnewnewnew401{
	position: absolute;
    right: 22px;
    bottom: 233px;
}
#img401{
	position: absolute;
    left: 63px;
    bottom: 51px;
}
#imgnewnew401{
	position: absolute;
	top:185px;
	left:71px;
}
#bg21{
	position: absolute;
	bottom: 0;
	right: 0;
}
#bg22{
	position: absolute;
	top:0;
	left: 0;
}
#txt402{
	position: absolute;
    top: 198px;
    left: 186px;
}
#txt403{
	position: absolute;
    left: 47px;
    top: 236px;
}
#txt404{
	position: absolute;
    left: 147px;
    top: 242px;
}
#img404{
	position: absolute;
    right: 54px;
    bottom: 108px
}
#img402{
	position: absolute;
    left: 0px;
    bottom: 283px;
}
#img403{
	position: absolute;
	left: 22px;
	bottom: 218px;
}
#txt405{
	position: absolute;
    left: 227px;
    bottom: 85px;
}
#txt406{
	position: absolute;
    left: 579px;
    bottom: 119px;
}
#bg6{
	position: absolute;
	top: 0;
	left: 0;
}
#txt407{
	position: absolute;
    left: 90px;
    top: 200px;
}
#txt408{
	position: absolute;
    left: 49px;
    top: 369px;
}
#txt409{
	position: absolute;
    top: 280px;
    left: 67px;
}
#txt410{
	position: absolute;
    left: 60px;
    bottom: 217px;
}
#txt412{
	position: absolute;
    bottom: 194px;
    right: 178px;
}
#txt413{
	position: absolute;
    bottom: 51px;
    right: 108px;
}
#txt411{
	position: absolute;
    bottom: 12px;
    left: 88px;
}
#img405{
	position: absolute;
    right: 47px;
    bottom: 82px;
}
#bg26{
	position: absolute;
	right: 0;
	top: 0;
}
#img406{
	position: absolute;
    bottom: 40px;
    left: 59px;
}
#img407{
	position: absolute;
    left: 56px;
    top: 216px;
}
#img408{
	position: absolute;
    top: 248px;
    left: 249px;
}
#imgnew410{
	position: absolute;
    right: 5px;
    bottom: 228px;
}
#img410{
	position: absolute;
    left: 444px;
    bottom: 209px;
}
#img411{
	position: absolute;
    bottom: 1px;
    right: 50px;
}
#img409{
	position: absolute;
    left: 31px;
    top: 295px;
}
#bgnew27{
	position: absolute;
	bottom: 0;
	right: 0;
}
#txt414{
	position: absolute;
    top: 199px;
    left: 53px;
}
#txt415{
	position: absolute;
    left: 162px;
    bottom: 408px;
}
#img412{
	position: absolute;
    left:0;
    bottom: 270px;
}
#bg28{
	position: absolute;
	left: 0;
	top: 0;
}
#img413{
	position: absolute;
    left: 623px;
    top: 277px;
}
#img414{
	position: absolute;
    bottom: 141px;
    left: 61px;
}
#img415{
	position: absolute;
    bottom: 20px;
    left: 50px;
}
#img416{
	position: absolute;
    bottom: 211px;
    right: 108px;
}
#txtnew415{
	position: absolute;
    left: 595px;
    bottom: 264px
}
#txtnewnewnew415{
	position: absolute;
    right: 29px;
    bottom: 106px;
}
#txtnewnew415{
	 position: absolute;
    bottom: 283px;
    left: 341px;
}
#imgnew211{
	position: absolute;
	left: 28px;
	bottom: 16px;
}
#txtnewnewnewnew415{
	position: absolute;
    bottom: 17px;
    left: 25px;
}
#img417{
	position: absolute;
    right: 18px;
    bottom: 231px;
}
#bg30{
	position: absolute;
	bottom: 0;
	right: 0;
}
#img418{
	position: absolute;
    left: 341px;
    top: 181px;
}
#img419{
	position: absolute;
    left: 475px;
    top: 388px;
}
#img420{
	position: absolute;
    right: 200px;
    top: 342px;
}
#imgnew420{
	position: absolute;
    bottom: 241px;
    left: 25px;
}
#imgnew424{
	position: absolute;
    left: 13px;
    bottom: 38px;
}
#img421{
	 position: absolute;
    left: 91px;
    top: 210px;
}
#imgnewnew424{
	position: absolute;
    left: 20px;
    top: 730px;
}
#img422{
	position: absolute;
    left:91px;
    bottom: 355px;
}
#img424{
	position: absolute;
    right: 54px;
    bottom: 382px;
}
#img423{
	position: absolute;
    top:210px;
    right: 54px;
}
#bg31{
	position: absolute;
	left: 0;
	top: 0;
}
#txt416{
	position: absolute;
    right:38px;
    top: 241px;
}
#img425{
	position: absolute;
    right: 3px;
    top: 203px;
}
#bg32{
	position: absolute;
	bottom: 0;
	right: 0;
}
#img426{
	position: absolute;
    left: 248px;
    bottom: 29px;
}
#img429{
	position: absolute;
    width: 334px;
    right: 102px;
    top: 212px;
}
#imgnewlogo424{
	position: absolute;
	left: 20px;
	top:730px;
}
#img430{
	position: absolute;
    width: 337px;
    right: 93px;
    top: 317px;
}
#img427{
	position: absolute;
    left:70px;
    top:197px;
}
#img428{
	position: absolute;
    top: 362px;
    left: 53px;
}
#img431{
	position: absolute;
    left: 367px;
    top: 398px;
}
#img432{
	position: absolute;
    left: 59px;
    bottom: 41px;
}
#img520{
	position: absolute;
    left: 28px;
    top: 235px;
}
#img521{
	position: absolute;
    left: 72px;
    top: 201px;
}
#img522{
	top: 198px;
    right: 119px;
    position: absolute;
}
#img523{
	position: absolute;
    bottom: 22px;
    left: 32px;
}
#img524{
	position: absolute;
    bottom: 22px;
    right: 154px;
}

/*slide 31*/
#img527{
	position: absolute;
    left: 100px;
    top: 175px;
}
#img528{
	position: absolute;
    left: 331px;
    top: 305px;
}
#img526{
	position: absolute;
    left: 39px;
    bottom: 146px;
}
#img525{
	position: absolute;
    right: 27px;
    bottom: 127px;
}
#img529{
	position: absolute;
    bottom: 52px;
    left: 265px;
}
#img530{
    position: absolute;
    left: 44px;
    bottom: 25px;

}
/*slide 33*/
#img533{
	position: absolute;
	left: 105px;
	top:200px;
}
#img531{
	position: absolute;
    left: 100px;
    top: 347px;
}
#img532{
	position: absolute;
    left: 527px;
    top: 366px;
}
#img534{
    position: absolute;
    bottom: 66px;
    left: 34px;

}
#img535{
	position: absolute;
    left: 35px;
    bottom: 26px;
}

/*slide 34*/
#img538{
	position: absolute;
    left: 43px;
    top: 194px;
}
#img536{
	position: absolute;
    left: 50px;
    bottom: 119px;
}
#img537{
	position: absolute;
    right: 9px;
    bottom: 88px;
}

/*slide 35*/
#img539{
	position: absolute;
    left: 392px;
    top: 195px;
}
#img541{
	position: absolute;
    left: 132px;
    top: 388px;
}
#img540{
	position: absolute;
    left: 17px;
    bottom: 41px;
}
#img542{
	position: absolute;
    left: 345px;
    bottom: 28px;
}

/*slide 36*/
#img544{
	position: absolute;
    left: 46px;
    top: 295px;
}
#img545{
	position: absolute;
	left: 46px;
	bottom:116px;
}
#img543{
	position: absolute;
    right: 12px;
    bottom: 151px;
}
/*slide 37*/
#img552{
	position: absolute;
    top: 188px;
    left: 35px;
}
#img546{
	position: absolute;
    left: 53px;
    top: 365px;
}
#img547{
	position: absolute;
    left: 117px;
    top: 362px;
}
#img548{
	position: absolute;
    left: 91px;
    bottom: 288px;
}
#img549{
	position: absolute;
    left: 91px;
    bottom: 171px;
}
#img553{
	position: absolute;
    bottom: 24px;
    left: 52px;
}
#img551{
	position: absolute;
    right: 40px;
    bottom: 121px;
}
#img550{
	position: absolute;
    right: 20px;
    bottom: 63px;
}
#img559{
	position: absolute;
    top: 195px;
    left: 120px;
}
#img558{
	position: absolute;
    left: 195px;
    top: 239px;
}
#img560{
	position: absolute;
    right: 36px;
    top: 271px;
}
#img554{
	position: absolute;
    left: 28px;
    top: 309px;
}
#img555{
	position: absolute;
    left: 28px;
    top: 347px;
}
#img557{
	position: absolute;
    right: 26px;
    bottom: 157px;
}
#img556{
	position: absolute;
    bottom: 76px;
    right: 20px;
}
#bg14{
	position: absolute;
	left: 0px;
	top:0px;
	width: 926px;
}
#img561{
	position: absolute;
    left: 38px;
    top: 228px;
}
#img563{
	position: absolute;
    left: 279px;
    top: 274px;
}
#img562{
	position: absolute;
    left: 38px;
    top: 404px;
}










































